<mat-sidenav-container fullscreen>
  <div>
    <mat-toolbar color="primary">
      <span>WebSocket Chat</span>
    </mat-toolbar>

    <div class="app-content">
      <label for="userName">Username</label>
      <input type="text" id="userName" #userName>

      <label for="message">Message</label>
      <input type="text" id="message" #message>

      <button (click)="sendMessage(message.value,userName.value)">Send</button>
      <div *ngFor="let message of messages">
        <b>{{ message.user }}</b>: {{ message.text }}
      </div>
    </div>
  </div>
</mat-sidenav-container>
